h1 {
    text-align: center;
    color: black;
}

.Personal {
    padding: 2%;
    text-align: left;
    font-size: 150%;
}

img {
    image-rendering: crisp-edges;
    margin-top: 100px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.EXPERIENCE {
    padding: 5%;
    text-align: center;
    font-size: 150%;
}

.charla {
    line-height: 2;
    width: 800px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    min-width: 600px;
    text-indent: 50px
}

nav {
    font-size: medium;
    text-align: left;
    min-width: 600px;
    text-indent: 10px
}

.about {
    padding: 2%;
    min-width: 600px;
    text-align: center;
    font-size: 150%;
}

#EMPLOYMENT {
    padding: 2%;
    text-align: center;
    font-size: 150%;
    font-family: sans-serif;
}

#EDUCATION {
    padding: 2%;
    text-align: center;
}

footer {
    padding: 8%;
    text-align: right;
    margin-left: auto;
}

footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
}